@import "tailwindcss";

/* 
  Globalny reset i ustawienia bazowe dla Web Dashboardu.
  Dzięki temu cała strona automatycznie zyska ciemną estetykę Discorda,
  znikną domyślne marginesy przeglądarki, a czcionka będzie gładka.
*/
@layer base {
  html, body {
    margin: 0;
    padding: 0;
    background-color: #101216;
    color: #f2f3f5;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}